/*
 :::  Reset
-------------------------------------------------- */
html {
	box-sizing: border-box;
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: inherit;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, subhead, summary {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------------------- */