@charset 'utf-8';

/* 
CSS Reset by Eric Meyer
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}


/* 
HTML5 elements basic styling by Peter Kröner
http://www.peterkroener.de/firefox-4-was-gibt-es-neues-fuer-webentwickler/
*/

command, datalist, source {
  display: none;
}
article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
figure, menu {
  margin-top: 1em;
  margin-bottom: 1em;
}
dl menu, menu dl, menu menu, menu ol, menu ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* 
Useful basic stylings based on Stefan Nitzsche’s work
http://nitzsche.info
*/

html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.ie7 address {
  font-style: normal;
}

.hideme {
  position: absolute;
  left: -999em;
  top: -999em;
}

label, 
input[type=button],
input[type=submit], 
button {
  cursor: pointer;
}

q:lang(de) {
  quotes: '„' '“' '‚' '‘';
}

q:lang(en) {
  quotes: '“' '”' "‘" "’";
}

abbr[title] {
  border-bottom: 1px dotted #888 !important;
  cursor: help;
}

a abbr {
  cursor: pointer !important;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/ 
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
/* End hide from IE-mac */

img { 
  -ms-interpolation-mode: bicubic; 
}
